@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

:root{
    --cor01: #7A0000; 
    --cor02: #ac0a0a;
    --cor03: #ECE4B7;
}

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* oculta as barras quando é inserido 100vw ou 100 vh*/
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-between;
    font: 22px 'Volkhov', arial, sans-serif;
    padding: 12px;
    text-align: left;
    width: 100vw;
    height: 13vh;
    color: #ffff;
    background-color:var(--cor02); 
}

header > h1{
    font-size: 38px;
    padding-left: 25px;
}

p{
    padding: 6px;
    line-height: 1.4em;
}

h2{
    text-align: center;
    font: bold 23px 'Volkhov', Arial, sans-serif;
    padding: 3px;
    margin-top: 10px;
}

body{
    font-family: 'Maitree', Arial, sans-serif;
}

section{
    background-color: #ffff;
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffff;
    padding: 10px;
    width: 26vw;
    height: 40vh;
    margin: 25px;
    border: 1px solid #00000069;
    border-radius: 3px;
}

.sect_initial{
    background: url(assets/donation-blur1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.donation_text{
    margin: auto;
    margin-top: 10%;
    width: 63vw;
    height: 38vh;
    padding: 15px;
    text-align: justify;
    background-color: #fffffff6;
}

.text-benef{
    margin: 15px;
    overflow-y: hidden;
}

.text_requisitos h2{
    background-color: var(--cor02);
    color: #ffff;
    border-radius: 6px;
    margin-bottom: 5px;
    text-align: center;
}

.sect_blood_verify{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    height: 80vh;
    background-color: var(--cor03); 
}

.text_requisitos{
    box-shadow: 5px 7px 0px -1px rgba(0, 0, 0, 0.197);
    position: relative;
    background-color: #ffff;
    width: 55vw;
    height: 55vh;
    padding: 20px;
    left: 30px;
    top: 20px;
}

.sect_benef{
    background-color: #ffff;
    padding: 10px;
    height: 100vh;
}

.container-benef{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 6%;
}

.container-benef div{
    display: flex;
    flex-direction: column;
    width: 430px;
    align-items: center;
}

.container-benef p {
    text-align: center;   
}

img{
    width: 155px;
    margin: 15px;
}


h2 + p{
    text-align: center;
}

footer{
    background-color: var(--cor02);
    width: 100vw;
    height: 12vh;
    color: #ffff;
    text-align: center;
    padding: 12px;
    overflow: hidden;
}

footer p{
    color: #ffff;
    font-size: 14px;
    line-height: 1.1em;
}

footer a{
    color: #ffff;
    font-weight: bold;
}

article{
    font-family: 'Maitree', arial, sans-serif;
    background-color: #ffff;
    padding: 20px;
    border-radius: 5px;
}

select{
    width: 190px;
    height: 31px;
    font: 15px 'Noto Sans', Arial, sans-serif;
    border: solid 1px #00000087;
}

#button_check{
    width: 145px;
    height: 29px;
    font: 15px 'Noto Sans', Arial, sans-serif;
    background-color: var(--cor02);
    border: solid 1px rgba(0, 0, 0, 0.86);
    border-radius: 5px;
    color: #FFFF;
    cursor: pointer;
    margin: 10px 5px;
}

.resultado_receber , .resultado_doar{
    padding: 5px; 
    letter-spacing: 1px;
    font-weight: bold;
}

li{
    padding: 6px;
    list-style-position: inside;
}

li::marker{     /*Altera a cor do marcador*/
    color: #7A0000;
}

nav ul{
    display: flex;
    gap: 6px;
    margin-right: 20px;
    line-height: 2em;
    list-style: none;
}

nav a{
    color: #ffff;
    text-decoration: none;
    padding: 9px;
    border-radius: 6px;
}

nav a:hover{
    border-bottom: 2px solid #fff;
    border-radius: 2px;
}

#menu-burguer{
    display: none;
}

.infos-donation{
    display: flex;
    justify-content: space-around;
    background-color: var(--cor02);
    width: 100vw;
    height: 32vh;
}

.info-text{
    font-family: 'Times New Roman', Arial, serif, sans-serif;
    width: 37%;
    height: 170px;
    margin: 10px;
    padding: 8px; 
    overflow-y: hidden;
    background-color: #ffff;
}

.faq-sect{
    padding: 14px;
    margin-top: 10px;
   
}

.faq-sect h1{
    text-align: center;
    margin-bottom: 12px;
}

details{
    width: 50vw;
    padding: 5px;
}

summary{
    background-color: var(--cor02);
    color: #ffff;
    font-size: 1em;
    padding: 6px;
    border-radius: 8px;
    width: 55vw;
    height: 50px;
}

#faq-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
