@media screen and (min-width:320px) and (max-width: 800px){

    *{
        margin: 0;
        padding: 0;
        overflow-y: hidden;
    }
    
    header{
        display: block;
        padding: 9px;
        height: 17vh;
        
    }

    nav{
        height: 70vh;
    }

    header h1{
        font-size: 1.5em;
        margin-bottom: 10px;
    }

   

    .sect_initial{
        height: 87vh;
    }

    .donation_text{
        width: 80vw;
        height: 77vh;
        margin-top: 25px;
    }


    .text-benef{
        width: 80vw;
        
    }

    .text-benef summary{
        width: 60vw;
        height: 69px;
    }

    .text-benef details{
        width: 100vw;
        height: 35vh;
    }

    .image-sect{
        display: none;
    }

    .sect_blood_verify{
        display: flex;
        flex-direction: column-reverse;
        height: 120vh;
        
    }

    .text_requisitos{
        position: relative;
        top: 4px;
        width: 75vw;
        height: 120vh;
    }

    .container{
        width: 280px;
        height: 350px;
        padding: 5px;
    }

    .infos-donation{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 65vh;
    }

    .info-text {
        width: 81vw;
        height: 32vh;
        padding: 8px;
    }


    select{
        width: 150px;
        height: 35px;
        padding: 5px;
    }

   

    footer{
        width: 100vw;
        height: 9vh;
        padding: 7px;
    }
}