@charset 'UTF-8';
@media screen and (max-width: 768px){
    
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;

    }
    
    header{
        width: 100vw;
        height: auto;
        display:block;
    }

    header > h1{
        font-size: 36px;
        padding-left: 9px;
        margin-bottom: 5px;
        text-align: center;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }

    nav{
        display: none;
    }
    
    nav a{
        color: #ffff;
        text-decoration: none;
        border-radius: 6px;
    }
    
    nav a:hover{
        background-color: var(--cor01); 
    }

    #menu-burguer{
        display: block;
        text-align: center;
        padding: 4px;
        cursor: pointer;
    }

    #menu-burguer:hover{
        background-color: var(--cor01);
    }

    section{
        width:100vw;
        height: 100vh;
    }

    .sect_initial{
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    .donation_text p{
        text-align: left;
    }

    .donation_text{
        width: 84vw;
        height: 90vh;
        margin: auto;
        margin-top: 30px;
    }

    .sect_benef{
        height: 100%;
        overflow-y: hidden;
    }

    .container-benef img {
        width: 96px;
        height: 100px;
    }

    .container-benef{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .container-benef p{
        text-align: center;
        overflow: hidden;
        font-size: 15px;
        width: 77%;
        color: #313030;
    }

    .sect_blood_verify{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 100vh;
    }
    
    .text_requisitos{
        box-shadow: 5px 7px 0px -1px rgba(0, 0, 0, 0.197);
        background-color: #ffffff;
        width: 88vw;
        height: 70%;
        position: relative;
        top: 15px;
        padding: 5px;
        padding-left: 15px;
    }

    .container{
        display: flex;
        align-items: flex-start;
        background-color: #ffff;
        width: 83vw;
        height: 220px;
        padding: 8px;
        border: solid 1px #000000a9;
        border-radius: 5px;
    }

    select{
        width: 185px;
        height: 30px;
        font: 15px 'Noto Sans', Arial, sans-serif;
        border: solid 1px #00000087;
    }
    
    #button_check{
        width: 142px;
        height: 30px;
        font: 15px 'Inter', Arial, sans-serif;
        background-color: var(--cor02);
        border: solid 1px rgba(0, 0, 0, 0.86);
        border-radius: 5px;
        color: #FFFF;
        cursor: pointer;
        margin: 10px 5px;
    }
    
    .resultado_receber , .resultado_doar{
        letter-spacing: 1px;
        font-weight: bold;
    }

    footer { 
        background-color: var(--cor02);
        width: 100vw;
        height: 57px;
        color: #ffff;
        padding: 7px;
        text-align: center;
    }

    footer p {
        color: #ffff;
        font-size: 13px;
    }

    footer a{
        color: #ffff;
    }

    .faq-sect{
        overflow: hidden;
        height: 100vh;
    }

    .faq-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .faq-sect h2{
        margin-bottom: 16px;
        padding: 10px;
    }

    .boxFaq{
        width: 90vw;
    }


    .infos-donation{
        display: flex;
        flex-direction: column;
        gap: 2px; 
        background-color: var(--cor02);
        width: 100vw;
        height: 48vh;
    }

    article{
        overflow: hidden;
        margin: 0;
    }
}